@import "styles/variable";
@import "styles/breakpoint";

.article_pizzas {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
  }

  &__grid {
  }
}

@media screen and (min-width: $desktop_md) {
  .article_pizzas {
    &__wrapper {
      display: grid;
      grid-template-columns: auto auto;
    }

    &__header {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
