$green: #0cb24c;
$greeHover: #0aa546 ;
$brown: #591b10;
$yellow: #fddc00;
$gray: #E5E5E5;
$grayHard: #D7D7D7;
$red: #c21b23;
$textDefault: #2C2C2C;
$white: #FFFFFF;

$boxShadow: 0px 0px 4px rgb(0 0 0 / 30%);