@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #f6f6f6;
  padding: 0 20px;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  color: #2C2C2C;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}
